<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>803362949237-8gqb1ra2vk4ojpe6cg40qbe69lhbllmg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803362949237-8gqb1ra2vk4ojpe6cg40qbe69lhbllmg</string>
	<key>API_KEY</key>
	<string>AIzaSyAE1WDn7dEsdtGfek_1cW1npSkfmQz2tEY</string>
	<key>GCM_SENDER_ID</key>
	<string>803362949237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.segawa.setyann.DokoDoko</string>
	<key>PROJECT_ID</key>
	<string>dokodoko-2e6df</string>
	<key>STORAGE_BUCKET</key>
	<string>dokodoko-2e6df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803362949237:ios:c962bd1039d83412dbd03c</string>
</dict>
</plist>